html,body
{
    margin: 0;
    padding: 0;
}
*::selection
{
    background-color: rgba(251, 50, 50, 0.856);
    color: #ffffff;
}
/* Start Menu bar */
.menu_bar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.menu_bar .header_site
{
    display: flex;
    justify-content: space-around;
    height: 55px;
    position: relative;
    z-index: 99999999;
}
.header_site .social_media
{
    margin: auto 0;
}
.header_site .social_media a
{
    color: #c6c5c4;
    margin-right: 30px;
}
.header_site .social_media a:last-child{ margin-right: 0px;}
.header_site .social_media a:hover
{
    color: #fff;
}
.header_site .branch_site
{
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    font-size: 19px;
}
.header_site .order_online
{
    margin: auto 0;
}
.order_online div
{
    width: 160px;
    height: 30px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.order_online div a
{
    color: #fff;
    text-decoration: none;
}
.order_online div:hover
{
    color: #3a3a3a;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.order_online div:hover a
{
    color:#3a3a3a;
}
.bar_site ul
{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    transform: translateY(0);
    transition: 0.5s;
}

.bar_site ul a
{
    color: #c6c5c4;
    text-decoration: none;
    margin-right: 20px;
}
.bar_site ul a:last-child
{
    margin-right: 0px;
}
.bar_site ul a.active
{
    color: #fff;
}
.menu_bar .header_site .toggleNav
{
    position: absolute;
    right: 0;
    top: 0px;
    color: #fff;
    width: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    display: none;
}
.menu_bar .header_site .toggleNav .fa-customize-bar
{
    cursor: pointer;
}
.bar_site ul.open
{
    display: flex;
}
/* End Menu bar */
/* Start View pages */
.half_view_page
{
    /* clip-path: ellipse(58% 50% at 50% 11%); */
    clip-path: ellipse(83% 55% at 50% 44%);
    background-size: cover;
}
.full_view_page
{
    /* clip-path: ellipse(61% 65% at 50% 35%); */
    clip-path: ellipse(100% 55% at 50% 44%);
    background-image: url('./assest/images/home.jpg');
    background-size: cover;
}
.About
{
    background-image: url('./assest/images/about.jpg');
}
.offers
{
    background-image: url('./assest/images/offers.jpg');
}
.menu
{
    background-image: url('./assest/images/menu.jpg');
}
.contact
{
    background-image: url('./assest/images/GoogleMapTA.jpg');
}

.view_page{
    width: 100%;
    height:70vh;
}
.viewPageHome{
    width: 100%;
    height: calc(100vh + 160px);
}
.view_page .overlayer ,.viewPageHome .overlayer     
{
    position: relative;
    background: #000000a8;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
}
.viewPageHome .overlayer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.view_page .overlayer .header_view
{
    /* transform: translateY(-70px); */
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}
.viewPageHome .overlayer .header_view
{
    transform: translateY(-100px);
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}
.view_page .overlayer .content_view
{
    /* transform: translateY(-75px);  */
    display: flex;
    justify-content: center;
}
.viewPageHome .overlayer .content_view
{
    transform: translateY(-100px);
    display: flex;
    justify-content: center;
}
.overlayer .content_view p
{
    color: #fff;
    text-align: center;
    letter-spacing: 1.2px;
    display: inline-block;
    width: 55%;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
    font-size: 14px;
}

.overlayer .booking .bookTable
{
    margin-right: 15px;
    display: inline-block;
    width: 140px;
    padding: 8px;
    font-family: 'Oswald', sans-serif;
    background: #e4032f;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.overlayer .booking .bookTable a
{
    color: #fff;
    text-decoration: none;
}
.overlayer .booking .takeaway
{
    display: inline-block;
    width: 140px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s;
}
.overlayer .booking .takeaway a
{
    color: #fff;
    text-decoration: none;
}
.overlayer .booking .takeaway:hover
{
    background: #fff;
    color: #181818;
    cursor: pointer;
}
.overlayer .booking .takeaway:hover a
{
    color: #000;
}


/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/* End View pages */

/* Start view home page */

.view_page_home .elementor-widget-overflow
{
    margin: -140px 0 0;
    position: relative;
    display: flex;
    justify-content: center;
}
.view_page_home .elementor-widget-overflow img
{
    width: 300px;
    min-width: 200px;
}
.view_page_home .discriptions_for_pizza
{
    display: flex;
    justify-content: space-evenly;
    min-height: 500px;
}
.discriptions_for_pizza div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discriptions_for_pizza .handmade_mozarella
{
    justify-content: center;
}
.discriptions_for_pizza div img
{
    width: 200px;
    border-radius: 50%;
}
.discriptions_for_pizza div .header h3
{
    color: #e4032f;
    font-size: 22px;
}
.discriptions_for_pizza div .header h3 span
{
    display: block;
    text-align: center;
}
.discriptions_for_pizza div p
{
    width: 65%;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* End view home page */
/* Start requests foods */

.request_foods
{
    background-color: #c2c2c2;
    background-image: url('./assest/images/pizza-gbc364b6be_1280.jpg');
    background-size: cover;
    min-height: 500px;
    position: relative;
}
.request_foods .overlayer
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #6e6864a8;
    z-index: 0;
}
.request_foods .container
{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}
.request_foods .container>div
{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.request_foods .container .quotes_for_pizzera .header h3
{
    color: #fff;
    font-size: 44px;
    word-break: break-all;
    font-family: 'Oswald', sans-serif;/* bolder*/
}
.request_foods .container .quotes_for_pizzera p
{
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-family: 'Source Sans Pro', sans-serif;
}
.request_foods .container div .icons
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4032f;
}
.request_foods .container div .icons .fa-customize
{
    color: #fff;
    font-size: 50px;
}
.request_foods .container div>h3
{
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.request_foods .container div .link_order
{
    color: #fbca01;
}
.request_foods .container div .link_order span 
{
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
}
.request_foods .container div .link_order span a
{
    color: #eaca01;
    text-decoration: none;
}
.request_foods .container div .link_order .fa-customize
{
    font-size:12 ;
}
.request_foods .container div .link_order:hover a ,.link_order:hover i
{
    color: #fff;
    cursor: pointer;
} 
/* End requests foods */

/* Start Choose your flavor */

.choose_your_flavor .header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.choose_your_flavor .header h4
{
    color: #e4032f;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.choose_your_flavor .header h3
{
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
}
.choose_your_flavor .header p
{
    width: 45%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
.view_page_ourMenu
{
    transform: translateY(-60px);
}
.choose_your_flavor .view_menu h4 ,.view_page_ourMenu .view_menu h4
{
    text-align: center;
    margin-bottom: 35px;
    color: #e4032f;
    font-family: 'Roboto', sans-serif;
}
.choose_your_flavor .view_menu h4:hover ,.view_page_ourMenu .view_menu h4:hover
{
    cursor: pointer;
}
.choose_your_flavor .All_menu ,.view_page_ourMenu .All_menu
{
    display: flex;
    justify-content: center;
}
.view_page_ourMenu .All_menu{
    min-height: 340px;
}
.choose_your_flavor .All_menu div img ,.view_page_ourMenu .All_menu div img
{
    width: 250px;
    transition: 0.5s;
}
.view_page_ourMenu .All_menu .pizza
{
    align-self: flex-end;
}
.choose_your_flavor .All_menu div img:hover ,.view_page_ourMenu .All_menu div img:hover
{
    transform: translateY(-15px);
    cursor: pointer;
}
.choose_your_flavor .All_menu div h4 ,.view_page_ourMenu .All_menu div h4 
{
    text-align: center;
    margin-bottom: 35px;
    color: #e4032f;
    font-family: 'Roboto', sans-serif;
}

/* End Choose your flavor */
/* Start Best Deals components */

/* Deal one */

.dealOne
{
    background-color: #e4032f;
    background-image: url('../src/assest/images/pizza-ge8cb8cc9f_1280.jpg');
    background-size: cover;
    height: 300px;
    width: 45%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.dealOne .discount
{
    position: absolute;
    width: 80px;
    height: 80px;
    background: #eaca01;
    right: 35%;
    top: 31px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.dealOne .discount h3 span
{
    display: block;
}
.dealOne .discription_deal
{
    position: absolute;
    width: 100%;
    height: 125%;
    background-color: #e4032f;
    right: -40%;
    border-radius: 50%;
    top: -18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dealOne .discription_deal h3
{
    color: #eaca01;
    padding-left: 12px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.dealOne .discription_deal>span
{
    color: #fff;
    padding-left: 80px; 
    font-size: 25px;
}
.dealOne .discription_deal h3 span
{
    display: block;
    margin-left: 45px;
}
/* Deal one */


/* Start  Deal Two */
.dealTwo 
{
    background-color: #e4032f;
    background-image: url('../src/assest/images/offers.jpg');
    background-size: cover;
    width: 45%;
    height: 300px;
    border-radius: 10px;
    position: relative;
}
.dealTwo .discount
{
    position: absolute;
    width: 80px;
    height: 80px;
    background: #e4032f;
    color: #fff;
    left: 7px;
    top: 30px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.dealTwo .discount h3 span
{
    display: block;
}
.dealTwo .backlayer
{
    position: absolute;
    right: 0;
    top: 0;
    width: 47%;
    height: 300px;
    background-color: #eaca01;
    clip-path: polygon(49% 0, 100% 0%, 100% 100%, 25% 100%, 0 0);
    border-radius: 0px 10px 10px 0px ;
}
.dealTwo .discription_deal
{
    position: absolute;
    right: 0;
    top: 0;
    width: 47%;
    height: 300px;
    background-color: #e4032f;
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 52% 100%, 0 100%);
    border-radius: 0px 10px 10px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dealTwo .discription_deal h3
{
    color: #fff;
    font-size: 22px;
    margin-left: 40px;
}
.dealTwo .discription_deal p
{
    text-align: center;
    width: 70%;
    color: #e2e2e2;
    font-size: 13px;
}
.dealTwo .discription_deal h4
{
    color: #fff;
    font-size: 20px;
}

/* End Deal Two */

/* Deal Three */

.dealThree 
{
    background-color: #e4032f;
    background-image: url('../src/assest/images/pizza-g09f6ef284_1280.jpg');
    background-size: cover;
    width: 95%;
    height: 250px;
    border-radius: 10px;
    position: relative;
}
.dealThree .discount
{
    position: absolute;
    width: 80px;
    height: 80px;
    background: #e4032f;
    color: #fff;
    left: 7px;
    top: 30px;
    border-radius: 50%;
    z-index: 2;
    display: flex;
    justify-content: center;
}
.dealThree .discount h3 span
{
    display: block;
}
.dealThree .backlayer
{
    position: absolute;
    right: 0;
    top: 0;
    width: 47%;
    height: 250px;
    background-color: #eaca01;
    clip-path: polygon(49% 0, 100% 0%, 100% 100%, 25% 100%, 0 0);
    border-radius: 0px 10px 10px 0px ;
}
.dealThree .discription_deal
{
    position: absolute;
    right: 0;
    top: 0;
    width: 47%;
    height: 250px;
    background-color: #e4032f;
    clip-path: polygon(25% 0, 100% 0%, 100% 100%, 52% 100%, 0 100%);
    border-radius: 0px 10px 10px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dealThree .discription_deal span
{
    color: #eaca01;
    font-family: 'Roboto', sans-serif;
}
.dealThree .discription_deal h3
{
    color: #fff;
    font-size: 22px;
    margin-left: 40px;
}
.dealThree .discription_deal p
{
    text-align: center;
    width: 70%;
    color: #e2e2e2;
    font-size: 13px;
}
.dealThree .discription_deal h4
{
    color: #fff;
    font-size: 20px;
}
/* Deal Three */

/*Start  HOST A PARTY */
.HostAParty
{
    background-color: #e4032f;
    background-image: url('../src/assest/images/pexels-diva-plavalaguna-6150432.jpg');
    background-size: cover;
    width: 95%;
    height: 250px;
    border-radius: 10px 10px 0 0;
    position: relative;
}
.HostAParty .discription_deal
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #e4032f;
    clip-path: polygon(0 14%, 0% 100%, 100% 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.HostAParty .discription_deal h3
{
    color: #eaca01;
    font-size: 22px;
    margin: 5px;
}
.HostAParty .discription_deal p
{
    text-align: center;
    width: 50%;
    color: #e2e2e2;
    font-size: 13px;
}
.HostAParty .discription_deal span
{
    display: block;
    width: 130px;
    height: 30px;
    background: #fff;
    color: #e4032f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin:5px ;
}
.HostAParty .discription_deal span:hover
{
    cursor: pointer;
    color: #000000;
}
/*End  HOST A PARTY */
/* End Best Deals components */

/* Start Best Deals*/
.best_deals
{
    width: 90%;
    margin: 0 auto;
}
.best_deals .header_deal
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.best_deals .header_deal h2
{
    margin-bottom: 10px;
    font-size: 35px;
}
.best_deals .header_deal span
{
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.best_deals .header_deal span a
{
    color: #e4032f;
    text-decoration: none;
}
.best_deals .header_deal span:hover
{
    background-color: #e4032f;
    cursor: pointer;
}
.best_deals .header_deal span:hover a
{
    color: #fff;
}
.best_deals .middle_content_deals
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.best_deals .last_content_deals
{
    display: flex;
    justify-content: space-evenly;
}
/* End Best Deals*/

/* Start Loaction */
.location
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    min-height: 450px;
}
.location .header_location 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.location .header_location  h4
{
    color: #e4032f;
    font-size: 13px;
}
.location .header_location h2
{
    font-size: 38px;
    font-family: 'Roboto', sans-serif
} 
.location .header_location p
{
    width: 45%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}
.location .content_location
{
    display: flex;
    justify-content: space-evenly;
}
.location .content_location div
{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location .content_location div h3
{
    color: #e4032f;
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}
.location .content_location div p
{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
}

/* End Loaction

/* Start Join Us */


.join_us
{
    background-color: #f7f6f2;
    min-height: 365px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.join_us .header_join_us
{
    margin-left: 15px;
    color: #e4032f;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}
.join_us .container_join_us
{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-left: 15px;
}
.join_us .container_join_us .container_head ,.container_content
{
    width: 45%;
    word-wrap: break-word;
}
.join_us .container_join_us .container_head h2
{
    font-size: 33px;
    word-break: break-word;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 30px 0;
}
.join_us .container_join_us .container_content
{
    font-size: 12px;
    margin-right: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.7;
}
.join_us .footer_join_us
{
    display: flex;
    justify-content: center;
}
.join_us .footer_join_us span
{
    display: block;
    width: 125px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding-top: 10px;
    transition: 0.5s;
}
.join_us .footer_join_us span a
{
    color:#e4032f ;
    text-decoration: none;
}
.join_us .footer_join_us span:hover
{
    background-color: #e4032f;
}
.join_us .footer_join_us span:hover a
{
    color: #Fff;
}
/* End Join Us */

/* Start Rates foods */

.RateFoods
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80px;
    background-color: #fecc00;
}
.RateFoods>div
{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.RateFoods>div .icon_rate
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4032f;
    font-size: 22px;
}
.RateFoods>div .number_rate
{
    font-size: 28px;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
}
.RateFoods>div .stars_rate
{
    padding-top: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}
.RateFoods>div .stars_rate .stars .fa-star:not(.fa-customize)
{
    color: #e4032f  ;
}
.RateFoods>div .stars_rate .stars .fa-customize
{
    color: #e203302a
}
/* End Rates foods */
/* Start download App */

.download_app
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.download_app>div
{
    width: 45%;
}
.download_app .discription_app .header_app h4
{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.download_app .content_app h2
{
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}
.download_app .content_app p
{
    font-size: 12px;
    opacity: 0.7;
    font-family: 'Source Sans Pro', sans-serif;
}
.download_app .discription_app .links_app .StoreApp
{
    display: inline-block;
    text-align: center;
    padding-top:7px;
    width: 110px;
    height: 25px;
    color: #e4032f;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 12px;
    transition: 0.5s;
}
.download_app .discription_app .links_app .StoreApp:hover
{
    background-color: #e4032f;
    color: #fff;
    cursor: pointer;
}
.download_app .discription_app .links_app .StoreApp span
{
    margin-left: 5px;
}
.download_app .image_app img
{
    width: 75%;
    height: 320px;
    float: right;
}
/* End download App */

/*Start Footer */
.footer
{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer>div
{
    margin-left: 15px;
}
.footer .links_site
{
    display: flex;
    justify-content: space-between;
}
.footer .links_site>div
{
    width: 22%;
}
.footer .links_site .discription_site h2
{
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    opacity: 0.8;
}
.footer .links_site .discription_site p
{
    font-size: 12px;
    opacity: 0.7;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer .links_site div h4
{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.footer .links_site div ul
{
    list-style: none;
    padding: 0;
    font-size: 14px;
}
.footer .links_site div ul li
{
    margin-bottom: 5px;
    font-size: 12px;
    opacity: 0.8;
}
.footer .links_site div ul li a
{
    color: #000;
    text-decoration: none;
}
.footer .links_site div ul li a:hover
{
    color: #e4032f;
}
.footer .link_social_media a
{
    color: #4e4e4e;
    margin-right: 30px;
    font-size: 15px;
}
.footer .link_social_media a:hover
{
    color: #e4032f;
} 
.footer .copyright
{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    opacity: 0.7;
    background: #f0f0f0;
}
.footer .copyright .write_with
{
    opacity: 1;
    font-family: cursive;
    margin-right: 15px;
}
.footer .copyright .write_with span
{
    font-family: 'Luxurious Script', cursive;
    font-size: 20px;
    font-weight: 600;
}
/*End Footer */

/* Start Food Menus */

.food_menu
{
    display: flex;
    flex-direction: column;
    min-height: 600px;
    justify-content: space-evenly;
    align-items: center;
}
.pizza_menu 
{
    background-color: #f7f6f2;
    margin-top: 15px;
}
.container_menu .location
{
    background-color: #f7f6f2;
}
.food_menu>div
{
    width: 90%;
}
.food_menu .header_food_menu h3
{
    display: inline;
    font-size: 30px;
    color: #e4032f;
}
.food_menu .header_food_menu p
{
    display: block;
    width: 80%;
    float: right;
    margin: 0;
    font-size: 14px;
    text-align: center;
    opacity: 0.8;
    font-family: 'Source Sans Pro', sans-serif;
}
.food_menu .horizontal_line span
{
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #b7b7b7;
    margin-bottom: 5px;
}
.food_menu .food_menu_container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 290px;
}
.food_menu_container>div
{
    width: 45%;
}
.food_menu_container .food_discription
{
    display: flex;
}
.food_discription .image_food img
{
    width: 110px;
    height: 70px;
    border-radius: 5px;
    transition: 0.5s;
}
.food_discription .image_food img:hover
{
    opacity: 0.6;
    cursor: pointer;
}
.food_discription div h4
{
    margin: 0;
    padding-left: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.food_discription div span
{
    display: inline-block;
    font-size: 12px;
    opacity: 0.8;
    padding: 10px;
}
/* End Food Menus */

/* Start our story */

.our_story
{
    margin-top: 35px;
}
.our_story>div:last-child
{
    display: flex;
    justify-content: space-evenly;
}
.our_story .Head_story h4
{
    text-align: center;
    font-size: 12px;
    color: #e4032f;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}
.image_pizzera
{
    width: 35%;
}
.our_story div .image_pizzera img
{
    width: 100%;
    height: 350px;
}
.container_story .container_about
{
    width: 60%;
}
.our_story div .container_about .header_about h2
{
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
.our_story div .container_about .header_about p
{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.our_story .container_about .discription_one h3 ,.discription_two h3
{
    font-size: 15px;
    opacity: 0.8;
}
.our_story .container_about .discription_one p ,.discription_two p
{
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}
.our_story .founder
{
    width: 45%;
    max-width: 250px;
    min-width: 180px;
    height: 285px;
}
.our_story .founder img
{
    width: 80%;
}
.our_story .founder h4
{
    font-size: 10px;
    font-family: cursive;
}
.our_story .founder span
{
    font-size: 10px;
    opacity: 0.8;
}
/* End our story */
/* Start parallax */
.parallex
{
    background-image: url("../src/assest/images/pizza-g09f6ef284_1280.jpg") ;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.parallex .container
{
    width: 50%;
    background-color: #fff;
    margin-left: 30px;
    padding: 12px;
    box-sizing: border-box;
    min-height: 350px;
}
.container_parallax
{
    margin-top: 35px;
}
.container .header_parallax h4
{
    font-size: 12px;
    color: #e4032f;
    font-family: 'Roboto', sans-serif;
}
.container .discription_parallax h2
{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
.container .discription_parallax p
{
    font-size: 12px;
}
.container .container_parallax .section_one , .section_two
{
    display: flex;
}
.container_parallax .section_one .icon ,.section_two .icon
{
    color: #e4032f;
}
.container .container_parallax .section_one .content_section h3,
.section_two .content_section h3
{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-left: 10px;
}
.container .container_parallax .section_one .content_section p,
.section_two .content_section p
{
    font-size: 10px;
    padding-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* End parallax */

/* Srart Offers page */
.best_deals .book_party_offers
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* End Offers page */

/* Start Contact WE */
.container_form
{
    display: flex;
    justify-content: space-between;
    background: #ffff;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    width: 90%;
    margin: 0 auto;
    transform: translateY(-55px);
    min-height: 500px;
}

.container_form .information_about_company
{
    width: 27%;
    background: #f7f6f2;
    padding: 20px;
    border-radius:10px 0 0 10px ;
}
.container_form .contact_form
{
    width: 70%;
    padding: 5px;
    box-sizing: border-box;
}
.container_form .information_about_company>div h3
{
    font-size: 22px;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
}
.container_form .information_about_company>div div 
{
    display: flex;
    margin-bottom: 15px;
}
.container_form .information_about_company  .social_media_form .links_social a
{
    margin-left: 10px;
}
.container_form .information_about_company>div div i
{
    font-size: 12px;
    color: #e4032f;
}
.container_form .information_about_company>div div p
{
    margin: 0;
    font-size: 12px;
    padding-left: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}
.contact_form .header_contact h2
{
    font-size: 25px;
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.contact_form .header_contact p
{
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
}
form>div
{
    display: flex;
    min-height: 60px;
}
form>div div
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
form>div div label
{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
form>div div label span
{
    color: #e4032f;
    font-size: 10px;
}
form>div div input
{
    width: 80%;
    height: 25px;
    background: #fafafa;
    border: none;
}
form>div div input:not([type="submit"]):focus ,
form .level_last_field textarea:focus
{
    outline: 1px solid #e4032f;
    transition: 0.3s;
}
form>div div input:focus::-webkit-input-placeholder,
form .level_last_field textarea::-webkit-input-placeholder
{
    opacity: 0;
    transition: 0.5s;
}
form>div div select
{
    width: 80%;
    height: 30px;
    background: #fafafa;
    border: none;
}
form .level_last_field
{
    display: flex;
    flex-direction: column;
}
form .level_last_field div
{
    width: 100%;
}
form .level_last_field textarea
{
    width: 90%;
    max-width: 95%;
    min-height: 90px;
    max-height: 100px;
    background: #fafafa;
    border: none;
}
form .level_last_field input[type="submit"]
{
    width: 75px;
    height: 35px;
    margin-top: 10px;
    border: none;
    background: #fafafa;
    color: #e4032f;
    border-radius: 5px;
    transition: 0.5s;
}
form .level_last_field input[type="submit"]:hover
{
    color: #fff;
    cursor: pointer;
    background: #e4032f;
}
/* End Contact WE */


/* Start Responsive Design */

.button_three_lines
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15px;
    position: absolute;
    z-index: 99999;
    top: 22px;
    right: 15px;
    display: none;
}
.button_three_lines:hover
{
    cursor: pointer;
}
.button_three_lines span
{
    width: 17px;
    height: 3px;
    display: inline-block;
    background: #fff;
}
.navbar
{
    display: block !important;
    display: flex;
    flex-direction: column;
}
/* Start Menu bar */
/* Error page*/

.error_page
{
    background: #000;
    position: absolute;
    width: 100%;
    z-index: 9999999;
    height: 125px;
}
.error_page h1
{
    font-size: 50px;
    text-align: center;
    color: #e4032f;
}

/* Error page*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .menu_bar
    {
        height: 50%;
    }
    .menu_bar .header_site
    {
        display: block;
        padding-left: 10px;
    }
    .menu_bar .header_site .social_media
    {
        display: none;
    }
    .menu_bar .header_site .order_online 
    {
        display: none;
    }
    .menu_bar .header_site .toggleNav
    {
        display: flex;
    }
    /* .menu_bar .bar_site .fa-customize-close
    {
        display: block;
    } */
    .bar_site
    {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .bar_site ul
    {
        position: absolute;
        top: 36px;
        flex-direction: column;
        z-index: 999999;
        background: #fff;
        width: 100%;
        height: 85%;
        align-items: center;
    }
    .bar_site ul a
    {
        color: #000;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .bar_site ul a.active
    {
        color: #e4032f;
    }
    .bar_site ul.close
    {
        transform: translateY(-130%);
    }
    .viewPageHome .overlayer .header_view
    {
        font-size: 14px;
        text-align: center;
    }
    .overlayer .content_view p
    {
        width: 90%;
        font-size: 12px;
    }
    .overlayer .booking
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .overlayer .booking .bookTable 
    {
        width: 75%;
        box-sizing: border-box;
        padding: 10px;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .overlayer .booking .takeaway
    {
        width: 75%;
        box-sizing: border-box;
        padding: 5px;
    }
    .view_page_home .elementor-widget-overflow
    {
        margin: -110px 0 0;
    }
    .view_page_home .elementor-widget-overflow img
    {
        width: 80%;
        max-width: 300px;
    }
    .view_page_home .discriptions_for_pizza
    {
        flex-direction: column;
        margin-top: 50px;
    }
    .discriptions_for_pizza div .header h3
    {
        font-size: 20px;
        text-align: center;
    }
    .discriptions_for_pizza div p
    {
        width: 90%;
        font-size: 12px;
    }
    .request_foods .container
    {
        flex-direction: column;
    }
    .request_foods .container>div 
    {
        width: 90%;
    }
    .request_foods .container .quotes_for_pizzera p
    {
        font-size: 12px;
        text-align: center;
    }
    .request_foods .container>div
    {
        width: 90%;
        margin-bottom: 20px;
    }
    .request_foods .container div .icons
    {
        width: 80px;
        height: 80px;
    }
    .request_foods .container div>h3
    {
        font-size: 15px;
    }
    .request_foods .container div .link_order
    {
        font-size: 10px;
    }
    .request_foods .container div .icons .fa-customize
    {
        font-size: 30px;
    }
    .choose_your_flavor .header h3
    {
        font-size: 12px;
    }
    .choose_your_flavor .header h3 
    {
        font-size: 25px;
        text-align: center;
    }
    .choose_your_flavor .header p 
    {
        width: 90%;
        font-size: 12px;
    }
    .choose_your_flavor .All_menu
    {
        flex-direction: column;
        align-items: center;
    }
    .view_page_ourMenu .All_menu
    {
        flex-direction: row;
        align-items: flex-start;
    }
    .All_menu>div
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choose_your_flavor .All_menu div img
    {
        max-width: 250px;
        width: 65%;
    }
    .view_page_ourMenu .All_menu div img
    {
        max-width: 250px;
        width: 90%;
    }
    .best_deals .last_content_deals
    {
        flex-direction: column;
    }
    .dealOne
    {
        width: 100%;
        margin-bottom: 50px;
    }
    .dealTwo
    {
        width: 100%;
    }
    .best_deals .middle_content_deals
    {
        display: block;
    }
    .dealThree
    {
        width: 100%;
    }
    .dealThree .discription_deal span
    {
        transform: translate(10px,10px);
    }
    .dealThree .discription_deal h3
    {
        margin-bottom: 0;
    }
    .best_deals .header_deal
    {
        flex-direction: column;
        align-items: center;
    }
    .best_deals .header_deal h2 
    {
        font-size: 26px;
    }
    .location .header_location h2
    {
        text-align: center;
        font-size: 30px;
        margin: 5px 0px;
    }
    .location .header_location p
    {
        width: 88%;
        margin-bottom: 20px;
    }
    .location .content_location
    {
        flex-direction: column;
        align-items: center;
    }
    .location .content_location div
    {
        width: 90%;
        margin-bottom: 10px;
    }
    .request_foods .container .quotes_for_pizzera .header h3
    {
        font-size: 35px;
        text-align: center;
    }
    .location .content_location div p
    {
        font-weight: 800;
        font-size: 12px;
    }
    .join_us 
    {
        min-height: 440px;
    }
    .join_us .container_join_us .container_content
    {
        width: 100%;
    }
    .join_us .container_join_us .container_content p
    {
        width: 90%;
        text-align: justify;
    }
    .join_us .container_join_us
    {
        flex-direction: column;
    }
    .join_us .container_join_us .container_head, .container_content
    {
        width: 90%;
    }
    .RateFoods
    {
        flex-direction: column;
        min-height: 450px;
    }
    .RateFoods>div
    {
        width: 70%;
        justify-content: space-evenly;
    }
    .download_app
    {
        flex-direction: column;
        align-items: center;
    }
    .download_app>div
    {
        width: 90%;
    }
    .download_app .discription_app .header_app h4
    {
        font-size: 18px;
        text-align: center;
    }
    .download_app .content_app h2
    {
        text-align: center;
        font-size: 30px;
    }
    .download_app .content_app p
    {
        text-align: center;
    }
    .download_app .discription_app .links_app
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .download_app .discription_app .links_app .StoreApp
    {
        width: 80%;
        border: 1px solid #e4032f;
        margin-bottom: 15px;
    }
    .download_app .image_app
    {
        display: flex;
        justify-content: center;
    }
    .download_app .image_app img
    {
        float: left;
    }
    .footer .links_site
    {
        flex-direction: column;
        align-items: center;
    }
    .footer .links_site>div
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .links_site .discription_site h2
    {
        text-align: center;
    }
    .footer .links_site .discription_site p
    {
        text-align: center;
    }
    .footer .links_site div h4
    {
        font-size: 16px;
    }
    .footer .links_site div ul li
    {
        font-size: 14px;
    }
    .footer .link_social_media
    {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .footer .copyright
    {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        min-height: 100px;
        justify-content: center;
        margin-left: 0;
    }
    .footer .copyright span
    {
        margin-bottom: 15px;
    }

    /* Our menu */
    .view_page_ourMenu .All_menu .pizza
    {
        align-self: unset;
    }
    .food_menu .header_food_menu h3
    {
        display: block;
        margin-bottom: 15px;
    }
    .food_menu .header_food_menu p
    {
        float: left;
        width: 96%;
        text-align: justify;
        margin-bottom: 15px;
    }
    .food_menu .food_menu_container
    {
        flex-direction: column;
        min-height: 900px;
        align-items: center;
    }
    .pizza_menu .food_menu_container
    {
        min-height: 1500px;
    }
    .dissert_menu .food_menu_container
    {
        min-height: 1100px;
    }
    .food_menu_container .food_discription
    {
        flex-direction: column;
        width: 85%;
        align-items: center;
    }
    .food_menu_container .food_discription .image_food
    {
        width: 100%;
    }
    .food_discription .image_food img
    {
        width: 90%;
        height: 125px;
    }

    /* About page */
    .our_story>div:last-child
    {
        flex-direction: column-reverse;
    }
    .container_story .container_about
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container_story .container_about>div
    {
        width: 90%;
    }
    .image_pizzera
    {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        justify-content: center
    }
    .our_story div .image_pizzera img
    {
        width: 90%;
    }
    .parallex .container
    {
        width: 90%;
        margin-left: 10px;
    }

    /* Contact Me */
    .container_form
    {
        flex-direction: column;
    }
    .container_form .information_about_company
    {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        border-radius: 10px 10px 0 0;
    }
    .container_form .information_about_company>div div i
    {
        font-size: 15px;
    }
    .container_form .contact_form
    {
        width: 100%;
    }
    form>div
    {
        flex-direction: column;
    }
    form>div div
    {
        width: 100%;
    }
    .contact_form .header_contact p
    {
        margin-bottom: 40px;
    }
    form>div div input
    {
        height: 35px;
    }
    form>div div input ,
    form .level_last_field textarea,
    form>div div select
    {
        width: 95%;
        margin-bottom: 15px;
    }
    .view_page .overlayer, .viewPageHome .overlayer
    {
        justify-content: center;
    }
    .view_page_ourMenu .All_menu
    {
        min-height: 0;
    }
  }  

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:768px) {
    .food_menu .food_menu_container
    {
        justify-content: space-between;
        min-height: 600px;
    }
    .food_menu_container .food_discription
    {
        display: flex;
        flex-direction: row;
    }
    .food_menu_container>div
    {
        width: 45%;
    }
    .food_menu_container .food_discription .image_food
    {
        width: 180px;
    }
    .food_discription .image_food img
    {
        width: 180px;
    }
    .pizza_menu .food_menu_container
    {
        min-height: 900px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
/* End Responsive Design */

/*

font-family: 'Dancing Script', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/